{% extends 'base.html.twig' %}

{% block title %}New YGOCard{% endblock %}

{% block main %}
    <h1>Create new YGOCard</h1>

    {{ include('ygo_card/_form.html.twig') }}

    <a href="{{ path('pack_show', {'id' : ygo_card.pack.id}) }}" 
       class="btn btn-primary mt-2 mb-2">Back to Pack</a>
{% endblock %}
