{% extends 'base.html.twig' %}

{% block title %}Users List{% endblock %}

{% block main %}
    <h1>Users List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('app_user_show', 
                        {'id': user.id}
                    ) }}" class="btn btn-success mt-2 mb-2">Show Details</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
